prune py2exe
prune matlab
prune fixerrors
prune behavioralmicroarray
exclude setupberlios.txt
exclude virtualenvdirections.txt
exclude makeanewrelease.txt
prune exports
exclude MANIFEST.in
prune Ctrax.egg-info
global-exclude *test* *tmp* *temp* *.mat old* Ctrax.log